html {
    font-size: 16px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}  
h1 {
    font-size: 55px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px rgba(254, 255, 255, 0.465);
} 
p,
li {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 1px;
}
html {
    background-color: #bce2f1a4;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #17708640;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(10, 48, 95);
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 10px solid rgba(229, 237, 248, 0.737);
}
  
   
  